<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one or more
  ~ contributor license agreements.  See the NOTICE file distributed with
  ~ this work for additional information regarding copyright ownership.
  ~ The ASF licenses this file to You under the Apache License, Version 2.0
  ~ (the "License"); you may not use this file except in compliance with
  ~ the License.  You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.opengoofy.index12306.biz.ticketservice.dao.mapper.SeatMapper">

    <!--
      可用性判断统一按 t_ticket 售卖区间账本重叠语义：
      座位在 [departure, arrival) 可用 = 不存在任何有效票（UNPAID/PAID/BOARDED）与其区间重叠
      站名不能按字典序比较。t_train_station 每行是一段相邻站区间，sequence 是车次内区间顺序；
      两张票占用的区间重叠，当且仅当已售起始区间 <= 请求终止区间且已售终止区间 >= 请求起始区间。
    -->
    <sql id="seatFreeOnInterval">
        and not exists (
            select straight_join 1 from t_ticket t
            join t_train_station sold_start on sold_start.train_id = t.train_id
                and sold_start.departure = t.departure and sold_start.del_flag = 0
            join t_train_station sold_end on sold_end.train_id = t.train_id
                and sold_end.arrival = t.arrival and sold_end.del_flag = 0
            where t.train_id = s.train_id
              and t.carriage_number = s.carriage_number
              and t.seat_number = s.seat_number
              and t.ticket_status in (0, 1, 2)
              and t.del_flag = 0
              and cast(sold_start.sequence as unsigned) &lt;= cast(requested_end.sequence as unsigned)
              and cast(sold_end.sequence as unsigned) &gt;= cast(requested_start.sequence as unsigned)
        )
    </sql>

    <!-- 获取列车指定车厢在区间内可用座位数，按车厢聚合 -->
    <select id="listCarriageSeatCount" resultType="org.opengoofy.index12306.biz.ticketservice.dto.domain.CarriageSeatCountDTO">
        select s.carriage_number as carriageNumber, count(*) as seatCount
        from t_seat s
        join t_train_station requested_start on requested_start.train_id = s.train_id
            and requested_start.departure = #{departure} and requested_start.del_flag = 0
        join t_train_station requested_end on requested_end.train_id = s.train_id
            and requested_end.arrival = #{arrival} and requested_end.del_flag = 0
        where s.train_id = #{trainId}
        and s.del_flag = 0
        and s.carriage_number in
        <foreach collection="trainCarriageList" item="carriage" open="(" separator="," close=")">
            #{carriage}
        </foreach>
        <include refid="seatFreeOnInterval"/>
        group by s.carriage_number
    </select>

    <select id="listSeatTypeCount" resultType="org.opengoofy.index12306.biz.ticketservice.dto.domain.SeatTypeCountDTO">
        select s.seat_type as seatType, count(*) as seatCount
        from t_seat s
        join t_train_station requested_start on requested_start.train_id = s.train_id
            and requested_start.departure = #{startStation} and requested_start.del_flag = 0
        join t_train_station requested_end on requested_end.train_id = s.train_id
            and requested_end.arrival = #{endStation} and requested_end.del_flag = 0
        where s.train_id = #{trainId}
        and s.del_flag = 0
        and s.seat_type in
        <foreach collection="seatTypes" item="seatType" open="(" separator="," close=")">
            #{seatType}
        </foreach>
        and not exists (
            select straight_join 1 from t_ticket t
            join t_train_station sold_start on sold_start.train_id = t.train_id
                and sold_start.departure = t.departure and sold_start.del_flag = 0
            join t_train_station sold_end on sold_end.train_id = t.train_id
                and sold_end.arrival = t.arrival and sold_end.del_flag = 0
            where t.train_id = s.train_id
              and t.carriage_number = s.carriage_number
              and t.seat_number = s.seat_number
              and t.ticket_status in (0, 1, 2)
              and t.del_flag = 0
              and cast(sold_start.sequence as unsigned) &lt;= cast(requested_end.sequence as unsigned)
              and cast(sold_end.sequence as unsigned) &gt;= cast(requested_start.sequence as unsigned)
        )
        group by s.seat_type
        having seatCount &gt; 0
    </select>

</mapper>
