<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one or more
  ~ contributor license agreements.  See the NOTICE file distributed with
  ~ this work for additional information regarding copyright ownership.
  ~ The ASF licenses this file to You under the Apache License, Version 2.0
  ~ (the "License"); you may not use this file except in compliance with
  ~ the License.  You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.opengoofy.index12306.biz.ticketservice.dao.mapper.SeatMapper">

    <!--
      可用性判断统一按 t_ticket 售卖区间账本重叠语义：
      座位在 [departure, arrival) 可用 = 不存在任何有效票（UNPAID/PAID/BOARDED）与其区间重叠
      有效票区间采用半开区间 [departure, arrival)，重叠条件：t.departure < arrival AND t.arrival > departure
    -->
    <sql id="seatFreeOnInterval">
        and not exists (
            select 1 from t_ticket t
            where t.train_id = s.train_id
              and t.carriage_number = s.carriage_number
              and t.seat_number = s.seat_number
              and t.ticket_status in (0, 1, 2)
              and t.del_flag = 0
              and t.departure &lt; #{arrival}
              and t.arrival &gt; #{departure}
        )
    </sql>

    <!-- 获取列车指定车厢在区间内可用座位数，按车厢聚合 -->
    <select id="listCarriageSeatCount" resultType="org.opengoofy.index12306.biz.ticketservice.dto.domain.CarriageSeatCountDTO">
        select s.carriage_number as carriageNumber, count(*) as seatCount
        from t_seat s
        where s.train_id = #{trainId}
        and s.del_flag = 0
        and s.carriage_number in
        <foreach collection="trainCarriageList" item="carriage" open="(" separator="," close=")">
            #{carriage}
        </foreach>
        <include refid="seatFreeOnInterval"/>
        group by s.carriage_number
    </select>

    <select id="listSeatTypeCount" resultType="org.opengoofy.index12306.biz.ticketservice.dto.domain.SeatTypeCountDTO">
        select s.seat_type as seatType, count(*) as seatCount
        from t_seat s
        where s.train_id = #{trainId}
        and s.del_flag = 0
        and s.seat_type in
        <foreach collection="seatTypes" item="seatType" open="(" separator="," close=")">
            #{seatType}
        </foreach>
        and not exists (
            select 1 from t_ticket t
            where t.train_id = s.train_id
              and t.carriage_number = s.carriage_number
              and t.seat_number = s.seat_number
              and t.ticket_status in (0, 1, 2)
              and t.del_flag = 0
              and t.departure &lt; #{endStation}
              and t.arrival &gt; #{startStation}
        )
        group by s.seat_type
        having seatCount &gt; 0
    </select>

    <!-- 指定车厢区间可用座位号（位图缺失时的数据库兜底） -->
    <select id="listAvailableSeatNumber" resultType="String">
        select s.seat_number
        from t_seat s
        where s.train_id = #{trainId}
        and s.carriage_number = #{carriageNumber}
        and s.seat_type = #{seatType}
        and s.del_flag = 0
        <include refid="seatFreeOnInterval"/>
        order by s.seat_number
    </select>
</mapper>